* {
    padding: 0;
    margin: 0;
    border-radius: 8px;
}

body {
    background-color: #f3f5f7;
}

.background {
    width: 1500px;
    height: 100%;
    margin: auto;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    overflow: hidden;
}

.background .box {
    background: rgba(200, 255, 255, 0.8);
    width: 400px;
    height: 300px;
    margin: 150px auto;
    overflow: hidden;
}
/* --------------------------------- */

.login{
    width: 230px;
    margin: 30px auto;
}

.login .room {
    text-align: center;
    color: rgba(70, 234, 182, 0.7);
    padding-bottom: 8px;
    font-size: 26px;
}

.login .receive input[type=text] , .login .receive input[type=password]{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(22, 190, 70, 1);
    font-size: 14px;
    border: 1.5px solid rgba(107, 185, 186, 0.8);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
}

.login .receive input[type=text]:focus , .login .receive input[type=password]:focus{
    outline: none;
    border: 1.5px solid rgba(110, 95, 223, 0.6);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login .receive input::-webkit-input-placeholder{
    font-size: 14px;
    color: rgba(16, 101, 15, 0.5);
}

.login .dengLu a{
    display: block;
    width: 100%;
    background: rgba(37, 217, 145, 0.6);
    color: white;
    padding: 12px 0;
    text-align: center;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
}

.login .dengLu a:hover{
    box-shadow: 0 0 2px 1px rgba(130, 121, 209, 0.25);
}

/* .login .receive input::-webkit-input-placeholder-hover{
    color: rgba(130, 121, 209, 0.25);
} */
